/* Search Input */
.search-container {
  margin-top: 50px;
  position: relative;
}

.search {
  width: 460px;
  height: 44px;
  padding: 10px 20px;
  padding-left: 50px;
  border-radius: 30px;
  border-style: none;
  background-color: rgba(245, 222, 179, 0.501);
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;
}

.search-active {
  width: 460px;
  height: 44px;
  padding: 10px 20px;
  padding-left: 50px;
  border-radius: 30px 30px 0 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #00000072;
  background-color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;
}

input:focus {
  outline: none;
}

.search::placeholder {
  color: #2f2219;
  opacity: 50%;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;
}

.search-svg {
  position: absolute;
  left: 20px;
  top: 10px;
}

.search-clear-active {
  position: absolute;
  right: 20px;
  top: 10px;
}

.search-clear {
  display: none;
}

/* Search Results */
.search-results-container {
  width: 460px;
  max-height: 177px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  position: absolute;
  border-radius: 0 0 30px 30px;
}

.search-results-container-active {
  width: 460px;
  max-height: 177px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  position: absolute;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-radius: 0 0 30px 30px;
}

.result-container {
  height: 100%;
  color: #000;
  padding: 5px 0 5px 50px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;
}

.result-container:last-child {
  border-radius: 0 0 30px 30px;
}

.result-container:hover {
  width: 100%;
  background-color: #e6e6e6;
}

@media only screen and (max-width: 1200px) {
  .search-container {
    margin-top: 20px;
  }
  .search {
    width: 300px;
  }
  .search-active {
    width: 300px;
  }
  .search-results-container {
    width: 300px;
  }
  .search-results-container-active {
    width: 300px;
  }
}

@media only screen and (max-width: 850px) {
  .search-container {
    margin-top: 0;
  }
  .search {
    width: 270px;
    height: 36px;
  }
  .search-active {
    width: 270px;
    height: 36px;
  }
  .search-svg {
    width: 20px;
    position: absolute;
    left: 20px;
    top: 8px;
  }
  .search-clear-active {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 8px;
  }
  .search-results-container {
    width: 270px;
  }
  .search-results-container-active {
    width: 270px;
  }
  .result-container {
    font-size: 14px;
  }
}
