* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  font-family: "SF Compact Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1133px;
  height: 744px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid #000;
  border-radius: 50px;
}