* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "SF Compact Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1133px;
  height: 744px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 50px;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 800px;
    height: 650px;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 700px;
    height: 550px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 356px;
    height: 700px;
  }
}
